@model IEnumerable<BookStore.Models.Domain.Publisher>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Publisher/Add">Add More</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Add Publisher</h3>
            <table class="table table-striped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Publisher Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PublisherName</td>
                            <td>
                                <a class="btn btn-success" href="/Publisher/Update?id=@item.ID">Edit</a>
                                <a class="btn btn-primary" href="/Publisher/Delete?id=@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>